body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 14px; }

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  margin: 0; }

h3 {
  font-size: 23px;
  line-height: 31px; }

.container {
  margin: 0 auto;
  max-width: 1170px; }

.section-title {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin: 0; }

.more-link {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  background-color: #FF7931;
  padding: 11px 30px;
  cursor: pointer; }
  .more-link:after {
    content: '';
    display: inline-block;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 25px;
    vertical-align: middle;
    margin-left: 7px; }

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .social-box__item:not(:first-child) {
    margin-left: 14px; }
  .social-box .social-link {
    display: block;
    width: 47px;
    height: 47px;
    text-decoration: none;
    background-color: #fff;
    color: #575757;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center; }
    .social-box .social-link[aria-label="Instagram"] {
      background-image: url("../img/insta.svg"); }
    .social-box .social-link[aria-label="Facebook"] {
      background-image: url("../img/facebook.svg"); }
    .social-box .social-link[aria-label="Twitter"] {
      background-image: url("../img/twitter.svg"); }

.header {
  margin-top: 60px;
  margin-bottom: 44px;
  padding: 26px; }
  .header__logo {
    margin: 0;
    margin-bottom: 46px; }

.main-article {
  background-image: url("../img/header-bg.jpg");
  background-position: top 70% center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #FFFFFF;
  padding-top: 47px;
  padding-bottom: 47px;
  margin-bottom: 46px; }
  .main-article::before {
    content: '';
    display: block;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    background-image: url("../img/img.svg");
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 30px; }
  .main-article__title {
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 2em; }
  .main-article__des {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    line-height: 150%; }
  .main-article__link {
    color: #fff;
    text-decoration: none; }
    .main-article__link:hover {
      color: #fff; }
.main-logo {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 1px; }
.main-nav {
  margin-bottom: 46px;
  margin-top: 32px; }
.main-nav__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .main-nav__menu-box__item .menu-link {
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase; }
    .main-nav__menu-box__item .menu-link:hover {
      color: #FF7931; }

.overview {
  padding-bottom: 30px; }
  .overview .section-title {
    margin-bottom: 20px; }
  .overview__list-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .overview__list-item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    padding-bottom: 20px; }
    .overview__list-item__img {
      width: 100%;
      height: 200px;
      -o-object-fit: cover;
         object-fit: cover;
      margin-bottom: 15px; }
    .overview__list-item__title {
      margin-bottom: 10px; }
    .overview__list-item__desc {
      line-height: 150%;
      margin: 0; }
  .overview__list-item:not(:first-child) {
    margin-left: 30px; }
  .overview__article-link {
    color: inherit;
    text-decoration: none; }
    .overview__article-link:hover {
      color: #FF7931; }

.tickets {
  padding: 34px;
  text-align: center;
  background-color: #F7F7F7;
  margin-bottom: 50px;
  position: relative;
  z-index: 0; }
  .tickets::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    -webkit-clip-path: circle(350px);
            clip-path: circle(350px);
    width: 100%;
    height: 100%;
    z-index: -1; }
  .tickets .section-title {
    margin-bottom: 35px; }
  .tickets__list-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px; }
  .tickets__list-item {
    max-width: 370px;
    margin-bottom: 24px; }
    .tickets__list-item::after {
      content: '';
      display: block;
      height: 1px;
      max-width: 100px;
      background-color: #EBEBEB;
      margin: 0 auto;
      margin-top: 20px; }
    .tickets__list-item:last-child::after {
      display: none; }
    .tickets__list-item .ticket-link {
      color: inherit;
      text-decoration: none; }
      .tickets__list-item .ticket-link:hover {
        color: #FF7931; }
    .tickets__list-item__title {
      margin-bottom: 10px; }
    .tickets__list-item__desc {
      line-height: 150%;
      margin: 0; }

.footer {
  background-color: #575757;
  color: #fff;
  padding: 26px; }
  .footer__nav {
    border-bottom: 1px solid #9A9A9A;
    padding-bottom: 46px; }
  .footer__logo {
    font-size: 28px; }

/*# sourceMappingURL=main.css.map */